.button-container-3 {
    position: relative;
    width: 100px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8vh;
    overflow: hidden;
    border: 1px solid #000;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    transition: 0.5s;
    letter-spacing: 1px;
}

.blur-blob {
    position: absolute;
    top: 0;
    left: 0;
    width: 101%;
    height: 100%;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 1px;
    opacity: 0.7;

    background: #000;
    -webkit-mask: url("../images/nature-sprite-2.png");
    mask: url("../images/nature-sprite-2.png");
    -webkit-mask-size: 7100% 100%;
    mask-size: 7100% 100%;
    border: none;
    color: #fff;

    cursor: none;
    -webkit-animation: ani2 1.3s steps(70) forwards;
    animation: ani2 1.3s steps(70) forwards;
}

.blur-blob.show {
    -webkit-animation: ani2 1.3s steps(70) forwards;
    animation: ani2 1.3s steps(70) forwards;
}

.blur-blob.hide {
    -webkit-animation: ani 1.3s steps(70) forwards;
    animation: ani 1.3s steps(70) forwards;
}

@-webkit-keyframes ani {
    from {
        -webkit-mask-position: 0 0;
        mask-position: 0 0;
    }

    to {
        -webkit-mask-position: 100% 0;
        mask-position: 100% 0;
    }
}

@keyframes ani {
    from {
        -webkit-mask-position: 0 0;
        mask-position: 0 0;
    }

    to {
        -webkit-mask-position: 100% 0;
        mask-position: 100% 0;
    }
}

@-webkit-keyframes ani2 {
    from {
        -webkit-mask-position: 100% 0;
        mask-position: 100% 0;
    }

    to {
        -webkit-mask-position: 0 0;
        mask-position: 0 0;
    }
}

@keyframes ani2 {
    from {
        -webkit-mask-position: 100% 0;
        mask-position: 100% 0;
    }

    to {
        -webkit-mask-position: 0 0;
        mask-position: 0 0;
    }
}