@font-face {
  font-family: 'magic';
  src: url('./fonts/magicschooltwo-webfont.woff2') format('woff2'),
       url('./fonts/magicschooltwo-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  background-image: url('../images/MapBg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  cursor: none;
}

#fullscreen-block {
  position: fixed;
  top: 0;
  left: 0;
  width: 22px;
  height: 22px;
  background: rgba(255,255,255,.2);
  z-index: 99999;
  border-bottom-right-radius: 22px;
}

.phrase {
  display: inline-block;
  position: absolute;
  width: 60%;
  font-family: magic, serif;
  font-size: 5em;
  /*opacity: 0;*/
  text-align: center;
  line-height: .9;
}

.phrase-block {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}
